.layers a{
	color: white;
}

.ui.link.list a.item{
	color: white;
}

.ui.link.list.list a.item:hover {
    color: white;
}

.ui.link.list.list a.item.active:hover {
    color: #ccc;
}

.column2 {
    column-count: 2;
}

.column3 {
    column-count: 3;
}
